/*  your css code here. If applicable */
h1{
	align-content: center;
}
span {
	color: blue;
}

.form-group{
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90vw;
}